.mb-3
  %p Full DateTime Picker
  %input.datetime-picker{ type: 'text' }
%hr
.mb-3
  %p Date picker only
  %input.date-picker{ type: 'text' }
%hr
.mb-3
  %p Time Picker only
  %input.time-picker{ type: 'text' }
