//** Entity Branding Styles **//

// Our Variables
@import 'bootstrap4/variables';

// Color contrast support via YIQ
@import 'public/common/yiq/yiq';

// NFG Theme
@import 'nfg_theme/functions';
@import 'nfg_theme/reboot';
@import 'nfg_theme/type';
@import 'nfg_theme/forms';
@import 'nfg_theme/buttons';
@import 'nfg_theme/custom_forms';
@import 'nfg_theme/navbar';
@import 'nfg_theme/badge';
@import 'nfg_theme/utilities';
@import 'nfg_theme/custom';

// Plugins
@import 'plugins/select2';
