@import "settings/settings";
@import "foundation-emails";
@import "components/alignment";
@import "components/button";

// NFG Theme specific
@import "nfg_theme/spacers";
@import "nfg_theme/layout";
@import "nfg_theme/rainbow_bar";
@import "nfg_theme/typography";
@import "nfg_theme/backgrounds";


// App Utilities
// i18n translation missing visual to help find missing t('')s...
.translation_missing{
  background-color: #ec5840;
  display: inline-block;
  border: solid 3px darken(#ec5840, 15%);
  padding:10px;
  color:#fff;
  position: relative;

  &:before{
    content: "Translation Missing:";
    position: absolute;
    background-color: darken(#ec5840, 15%);
    display: inline-block;
    width: 110px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    top: -30px;
    font-size: 12px;
    color:#fff;
    font-weight: bold;
  }
}
