%div{ modal.html_options }
  .modal-dialog{ role: 'document' }
    .modal-content
      -# To do: make modal header its own component so it's more easily adjusted for NFG UI version

      -# To do: should probably break all of these sub components into their own parts.
      .modal-header
        - if modal.title
          %h5.modal-title= modal.title
        = ui.bootstrap :button, as: :button, class: 'close', theme: nil, data: { dismiss: 'modal' }, aria: { label: 'Close' } do
          %span{ aria: { hidden: 'true' } } 
            &times;
      .modal-body= modal.body
      
      - if modal.footer?
        .modal-footer= modal.footer
