@each $color, $value in $colors {
  .#{$color} {
    .btn-primary {
      @include button-variant($value, $value);
      color: $white !important;
      &:focus,
      &.focus {
        box-shadow: 0 0 0 $input-btn-focus-width transparentize($value, 0.8);
      }
      &:not(:disabled):not(.disabled):active,
      &:not(:disabled):not(.disabled).active,
      .show > &.dropdown-toggle {
        box-shadow: 0 0 0 $input-btn-focus-width transparentize($value, 0.8);
        &:focus { box-shadow: 0 0 0 $input-btn-focus-width transparentize($value, 0.8); }
      }
    }
    .btn-link {
      &:focus,
      &.focus {
        box-shadow: 0 0 0 $input-btn-focus-width transparentize($value, 0.8);
      }
      &:not(:disabled):not(.disabled):active,
      &:not(:disabled):not(.disabled).active,
      .show > &.dropdown-toggle {
        box-shadow: 0 0 0 $input-btn-focus-width transparentize($value, 0.8);
        &:focus { box-shadow: 0 0 0 $input-btn-focus-width transparentize($value, 0.8); }
      }
    }
    .show > .btn-primary.dropdown-toggle {
      background-color: darken($value, 10%);
      border-color: darken($value, 10%);
      &:focus { box-shadow: 0 0 0 $input-btn-focus-width transparentize($value, 0.8); }
    }
    .btn-secondary, .btn-outline-secondary, .btn-link { color: $value; }
  }
}
