@each $color, $value in $colors {
  .#{$color} {
    .btn-primary { @include button-variant($value, $value); }
    .show > .btn-primary.dropdown-toggle {
      background-color: darken($value, 10%);
      border-color: darken($value, 10%);
    }
    .btn-outline-secondary, .btn-link { color: $value; }
  }
}

// temporary color fix for consistency on a white text on orange bg
// overrides color contrast settings
.orange .btn-primary { color: $white !important; }
