@each $color, $value in $colors {
  .#{$color} {
    .custom-control {
      .custom-control-input {
        &:checked {
          ~ .custom-control-label { border-color: $value; }
          ~ .custom-control-label::before {
            border-color: $value;
            background-color: $value;
            box-shadow: 0 0 0 ($spacer * .125) transparentize($value, 0.8);
          }
        }
      }
      &.custom-control-block {
        .custom-control-input:checked ~ .custom-control-label { box-shadow: 0 0 0 ($spacer * .125) transparentize($value, 0.8); }
      }
    }
    .custom-switch {
      .custom-control-input:checked ~ .custom-control-label {
        &::after { border-color: $value; }
        &::before {
          background-color: $value;
          border-color: $value;
        }
      }
    }
    .custom-select {
      &:active, &:focus {
        border-color: $value;
        box-shadow: 0 0 0 ($spacer * .125) transparentize($value, 0.8);
      }
    }
  }
}
