// Activity feed list items
.activity-feed-item {
  position: relative;
  padding: 0 0 $spacer ($spacer * 1.5);
  border: none;
  z-index: 0;
  &::after {
    position: absolute;
    top: 0;
    left: 12px;
    bottom: 0;
    z-index: 0;
    border-left: $border-width solid $border-color;
    content: "";
  }
  &:last-child {
    padding-bottom: 0;
    &::after { display: none; }
  }
  .activity-icon {
    position: absolute;
    top: 2px;
    left: 0;
    display: block;
    width: $spacer;
    height: $spacer;
    font-size: $font-size-sm;
    line-height: $spacer;
    z-index: 1;
    text-align: center;
    @include border-radius(50%);
    box-shadow: 0 0 0 2px rgba(255,255,255,1);
  }
}
