// Campaign card specific styles to ensure same height images
#campaign_image {
  height: ($spacer * 8);
  overflow: hidden;
  .card-img {
    display: inline-block;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
}
