// Styles for content section buttons
.cs-edit, .cs-btn-group {
  position: absolute;
  top: -($spacer * .25);
  left: -($spacer * .25);
}
.cs-edit, .cs-rm-group, .cs-add-group {
  opacity: 0.8;
  z-index: 100;
  &:hover { opacity: 1; }
}
