#share_page_widget {
  .dropdown-menu { width: 300px; }

  // Social Icons
  .list-group {
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
  }
  .btn-share { // formerly list-group-item
    display: inline-block;
    float: none;
    padding: 0;
    border-radius: 0;
    border: none;
    + .btn-share { margin-left: ($spacer * .5); }
  }
  [class^='icon-'] {
    display: inline-block;
    font-family: "FontAwesome";
    &:before { font-size: $h4-font-size; }
  }
  .icon-facebook {
    &:before {
      content: "\f082";
      color: #3b5998;
    }
  }
  .icon-twitter {
    &:before {
      content: "\f081";
      color: #1da1f2;
    }
  }
  .icon-linkedin {
    &:before {
      content: "\f08c";
      color:#0077b5;
    }
  }
  .icon-googleplus {
    &:before {
      content: "\f0d4";
      color: #dd4b39;
    }
  }
  .icon-envelope {
    &:before {
      content: "\f003";
      color: #8c8c8c;
    }
  }
}
