//
// Base styles
//

.tile {
  display: block;
  margin-right: auto;
  margin-left: auto;
  word-wrap: break-word;
  background-color: $white;
  border-top: $border-width solid $border-color;
  border-bottom: $border-width solid $border-color;
  // box-shadow: $box-shadow;
  @include media-breakpoint-down(sm) {
    margin-right: -($grid-gutter-width / 2);
    margin-left: -($grid-gutter-width / 2);
  }
  @include media-breakpoint-up(sm) {
    border-right: $border-width solid $border-color;
    border-left: $border-width solid $border-color;
  }
}

.tile-body {
  padding: $grid-gutter-width;
  @include media-breakpoint-up(sm) { padding: ($grid-gutter-width * 1.5); }
}

// Sections within a tile used to separate groups of content
.tile-section {
  display: block;
  margin-right: auto;
  margin-left: auto;
  @include media-breakpoint-down(sm) { padding-bottom: $grid-gutter-width; }
  @include media-breakpoint-up(sm) { padding-bottom: ($grid-gutter-width * 1.5); }
  &:last-child { padding-bottom: 0; }
  + .tile-section {
    border-top: $border-width solid $border-color;
    @include media-breakpoint-down(sm) { padding-top: $grid-gutter-width; }
    @include media-breakpoint-up(sm) { padding-top: ($grid-gutter-width * 1.5); }
  }
}

//
// Optional textual caps
//

.tile-header, .tile-footer {
  padding: ($grid-gutter-width / 2) $grid-gutter-width;
  background-color: $white;
  @include media-breakpoint-up(sm) { padding: $grid-gutter-width; }
}
.tile-header { border-bottom: $border-width solid $border-color; }
.tile-footer { border-top: $border-width solid $border-color; }


//
// Header navs
//

.tile-header-tabs {
  margin-right: -$grid-gutter-width;
  margin-bottom: -($grid-gutter-width / 2);
  margin-left: -$grid-gutter-width;
  border-bottom: 0;
  @include media-breakpoint-up(sm) { margin-bottom: -$grid-gutter-width; }
}