//
// Base styles
//

.tile {
  border-top: $border-width solid $border-color;
  border-bottom: $border-width solid $border-color;
  @include media-breakpoint-down(sm) {
    margin-right: -($grid-gutter-width / 2);
    margin-left: -($grid-gutter-width / 2);
  }
  @include media-breakpoint-up(sm) {
    border-right: $border-width solid $border-color;
    border-left: $border-width solid $border-color;
  }
}
