%h1 Modals

= ui.bootstrap :button, body: 'Modal Trigger Button', modal: 'test_modal'

= ui.bootstrap :modal, id: 'test_modal', title: 'Test Modal', footer: 'Modal footer (as a component option only)' do
  Modal body goes here
