// Overrides text-muted default color to account for better contrast for accessibility (also used in _builder_layout.scss for .builder-header)
.bg-dark {
  background-color: $blue-700 !important;
  .text-muted { color: $blue-200 !important; }
}

// Clouds
.bg-clouds {
  padding-bottom: 20%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  &.blue { background-image: image-url("onboarding/clouds-blue.png"); }
  &.green { background-image: image-url("onboarding/clouds-green.png"); }
}
