//
// Base styles
//
.card { box-shadow: none; }
a.card {
  transition: $transition-base;
  &:hover { box-shadow: $box-shadow-sm; }
}
.card-subtitle { margin-top: 0; }


//
// Optional textual caps
//
.card-footer { border-top: none; }

// Card image
.card-img-overlay { @include gradient-y(transparentize($black, 1), transparentize($black, .5)); }

.card-img { @include border-radius(0); }
