.dropdown-toggle::after { content: none; }


// Links, buttons, and more within the dropdown menu
.dropdown-item {
  + .dropdown-item { border-top: $border-width solid $border-color; }
  &.disabled, &:disabled {
    background-color: $body-bg;
    cursor: default;
    pointer-events: none;
  }
}


// Dropdown section headers
.dropdown-header {
  padding-top: ($spacer * .5);
  padding-bottom: ($spacer * .5);
  + .dropdown-item { border-top: $border-width solid $border-color; }
}


// Sizing
.dropdown-menu-md { min-width: ($spacer * 12); }


// Styles for wider "My Tools" dropdown in top nav
#my_tools_dropdown {
  @include media-breakpoint-down(sm) { max-width: 100vw; }
  .media {
    div {
      &:first-child { width: 60px; }
      &:last-child { width: 38px; }
    }
    .media-body { width: 240px; }
  }
}
