// Hides #quick-add-modal modal if task modal is enabled in DMS
#task-modal.show {
  z-index: $zindex-modal + 1;
  + #quick-add-modal { display: none !important; }
  ~ .modal-backdrop.show ~ .modal-backdrop.show { display: none !important; }
}


// Full page cover modal option
.modal-cover {
  .modal-dialog {
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    transform: none !important; // removes default 50px transform that occurs on modal showing (.fade and .show)
    .modal-content {
      display: block;
      height: 100%;
      border: none;
      border-radius: 0;
    }
  }
}
