// Styles that replicate the legacy top navs in EVO
#admin-nav {
  background-color: #444444;
  .navbar {
    background: transparent !important;
    .navbar-nav {
      .nav-item {
        @include media-breakpoint-up(lg) {
          + .nav-item { border-left: $border-width solid #4d4d4d; }
        }
        > .nav-link {
          padding: $spacer ($spacer * .5);
          font-size: $font-size-sm;
          font-weight: $font-weight-bold;
          &:hover {
            color: $navbar-dark-hover-color;
            background-color: #414141;
          }
          > .fa {
            color: #626262;
            &:first-child { margin-right: ($spacer * .25); }
          }
        }
        &.active {
          > .nav-link {
            color: $navbar-dark-active-color;
            background-color: #4b4b4b;
            > .fa { color: $navbar-dark-active-color; }
          }
        }
      }
      .dropdown-menu {
        margin-top: 0;
        border-radius: 0 0 $border-radius $border-radius;
        background-color: #525252;
        .dropdown-item {
          padding: 0;
          + .dropdown-item { border-top: none; }
          &.active {
            background-color: transparent;
            .nav-link {
              color: #cccccc;
              border-left-color: $teal;
            }
          }
        }
        .nav-link {
          padding: ($spacer * .5);
          color: #989797;
          border-left: 5px solid transparent;
          &:hover {
            color: #cccccc;
            background-color: #575757;
            border-left-color: #616161;
          }
        }
      }
    }
  }
}

#admin-toolbar {
  padding-top: 2px;
  font-size: 12px;
  font-weight: $font-weight-bold;
  line-height: 1;
  background-color: #2b2b2b;
  &:before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $teal;
    z-index: 5;
    content: '';
  }
  .navbar { background: transparent !important; }
  .navbar-brand {
    font-size: 11px;
    font-weight: $font-weight-bold;
    line-height: 1;
    text-transform: uppercase;
  }
  .nav-item {
    > .nav-link {
      padding: ($spacer * .5);
      text-transform: uppercase;
      color: $teal;
      transition: $transition-base;
      &:hover { background-color: #515151; }
      @include media-breakpoint-down(sm) { font-size: 14px; }
    }
    &.show {
      > .nav-link {
        background-color: #fff;
        color: $teal;
      }
    }
    .dropdown-menu {
      margin-top: 0;
      border-radius: 0 0 $border-radius $border-radius;
      .dropdown-item, .nav-link { color: $teal; }
      .nav-link { padding: 0; }
    }
  }
}

#cross_product_nav {
  > .dropdown-menu {
    > .dropdown-item {
      transition: $transition-base;
      position: relative;
      [class^="icon-sso"] { font-size: 40px; }
      .media-body { width: 240px; }
    }
  }
}

#p2p-nav {
  background-color: $gray-800;
  .navbar-nav {
    .nav-link {
      padding-right: ($nav-link-padding-x * .5);
      padding-left: ($nav-link-padding-x * .5);
      color: $teal;
      &:hover {
        background-color: $gray-900;
      }
    }
  }
}

// Main navigation bar (left) in DMS
.site-navbar {
  position: fixed;
  right: 0;
  left: 0;
  z-index: $zindex-fixed;
  @include transition(left .2s ease-in-out);
  @include media-breakpoint-down(lg) {
    bottom: 0;
    width: 100%;
    border-top: $border-width solid $nav-divider-color;
  }
  @include media-breakpoint-up(xl) {
    top: 0;
    left: 200px;
    border-bottom: $border-width solid $nav-divider-color;
  }
  .navbar-brand {
    font-size: ($font-size-base * .75);
    @include media-breakpoint-down(lg) { display: none !important; }
  }
  .nav {
    .nav-item {
      position: relative;
      font-size: ($font-size-base * .75);
      font-weight: $font-weight-bold;
      line-height: 1;
      text-align: center;
      border-left: $border-width solid $border-color;
      @include media-breakpoint-down(lg) {
        width: 20%;
        &:first-child { border-left: none; }
      }
      .nav-alert {
        position: absolute;
        top: -4px;
        right: -4px;
        width: 8px;
        height: 8px;
        background-color: $primary;
        @include border-radius(50%);
        box-shadow: 0 0 0 2px rgba(255,255,255,1);
        &.nav-alert-danger { background-color: $danger; }
      }
      .nav-link {
        color: $text-muted;
        outline: none !important;
        @include transition(background-color .2s ease-in-out);
        @include media-breakpoint-down(sm) { padding: ($spacer * .5); }
        @include media-breakpoint-up(md) { padding: 18px $spacer; }
        @include hover() { background-color: $body-bg; }
        &[aria-expanded="true"],
        &:not(:disabled):not(.disabled).active { background-color: $body-bg; }
        &.disabled {
          cursor: disabled;
          pointer-events: none;
          opacity: .4;
        }
        &.dropdown-toggle {
          @include media-breakpoint-down(lg) {
            + .dropdown-menu {
              top: auto;
              bottom: 100%;
              margin-bottom: 2px;
            }
          }
        }
        &.has-label {
          @include media-breakpoint-up(xl) {
            padding-top: 15px;
            height: ($spacer * 2);
          }
        }
        .nav-text {
          &.visible {
            @include media-breakpoint-up(xl) { display: inline-block; }
          }
          @include media-breakpoint-down(sm) {
            display: block;
            margin-top: 2px;
            font-weight: $font-weight-bold;
            font-size: 10px;
          }
          @include media-breakpoint-up(md) { margin-left: ($spacer * .25); }
          @include media-breakpoint-up(xl) { display: none; }
        }
        + .nav-link { margin-left: 0; }
      }
    }
  }
}
