// Side navigation bar in DMS
.site-nav {
  position: fixed;
  top: 0;
  width: 200px;
  height: 100%;
  background-color: $blue-700;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  @include transition(all .2s ease-in-out);
  @include media-breakpoint-down(lg) {
    left: -200px;
    opacity: 0;
    z-index: 10;
    overflow-x: hidden;
  }
  @include media-breakpoint-up(xl) {
    left: 0;
    z-index: 30;
  }

  // Slide styles
  &.nav-slide {
    @include media-breakpoint-down(lg) {
      left: 0;
      opacity: 1;
      z-index: 30;
      overflow-x: visible;
      overflow-y: auto;
    }
  }
  .nav-pills {
    .nav-link {
      position: relative;
      padding: ($spacer * .75) ($spacer * .5);
      border-radius: $nav-pills-border-radius;
      color: $white;
      vertical-align: middle;
      background-color: transparent;
      @include clearfix();
      transition: $btn-transition;
      &:hover, &.active, &[aria-expanded="true"] {
        color: $nav-pills-link-active-color;
        cursor: pointer;
        background-color: $nav-pills-link-active-bg;
        &:after {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: $nav-tabs-border-width;
          border-radius: ($nav-tabs-border-width / 2);
          background: transparent;
          transition: $btn-transition;
          content: '';
        }
      }
      .fa {
        width: 1em;
        min-width: 14px;
        &.float-right { line-height: 24px; }
      }
    }
    &.nav-sub-menu {
      .nav-link {
        padding-top: ($spacer * .5);
        padding-bottom: ($spacer * .5);
        font-size: $font-size-sm;
        line-height: $line-height-sm;
        background-color: $blue-900;
        &:hover, &:focus, &.active { background-color: $blue-1000; }
      }
    }
  }
}
