//
// Headings
//
h1, .h1 { line-height: 1; }
h2, .h2 { line-height: 1.15; }
h3, .h3 { line-height: 1.1; }
h4, .h4 { line-height: 1; }
h5, .h5 { line-height: 1.2; }
h6, .h6 { line-height: 1.15; }

// Type display classes
.display-4 {
  line-height: 1.3;
  color: $text-muted;
  text-transform: uppercase;
}


//
// Misc
//
.font-size-base { font-size: $font-size-base !important; }
.font-size-sm {
  font-size: $font-size-sm !important;
  line-height: 1.3;
}
.font-size-lg { font-size: $font-size-lg !important; }
.line-height-sm { line-height: $line-height-sm; }
.line-height { line-height: 1.5; }
.line-height-lg { line-height: $line-height-lg; }

strong, .strong, b, .b { font-weight: $font-weight-bold; }

a.no-link-color {
  &, &:visited { color: $body-color !important; }

  &:hover, &:active, &:focus {
    color: theme-color("primary") !important;
    text-decoration: none;
  }
}

// Contextual colors
@each $color, $value in $colors {
  @include text-emphasis-variant(".text-#{$color}", $value);
}


// Adds a background divider to word
.text-divider {
  position: relative;
  &:after {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    border-top: $border-width solid $border-color;
    content: '';
    z-index: 0;
  }
  .text-center, .btn-center { z-index: 10; }
  .text-center {
    position: relative;
    text-align: center;
    line-height: 1;
    span {
      display: inline-block;
      padding: ($spacer * .25) ($spacer * .5);
      background-color: $white;
    }
  }
  .btn-center {
    position: absolute;
    top: -18px;
    left: 50%;
    .btn {
      position: relative;
      left: -50%;
    }
  }
}
