// Extra utility styles not provided by bootstrap

// Text
  .text-break-words { white-space: normal !important; }
  .text-wordwrap { word-break: break-word !important; }
  .text-inherit { color: inherit !important; }

// Position
  .pos-a-t-l {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
  }
  .pos-a-t-r {
    position: absolute;
    top: 0;
    right: 0;
  }
  .pos-a-c {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .pos-f-t {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $zindex-fixed;
  }
