= ui.bootstrap :dropdown_toggle, as: dropdown_toggle.as, theme: dropdown_toggle.theme, **dropdown_toggle.html_options, remove_component_css_classes: dropdown_toggle.nav_link do
  - if dropdown_toggle.left_icon
    = ui.nfg :icon, dropdown_toggle.left_icon, class: 'mr-1'
  = ui.nfg :icon, dropdown_toggle.icon, text: dropdown_toggle.body, right: true
