//
// Steps
//
.nav-steps {
  .nav-item {

    &.visited, &.active {
      &::before { background-color: $primary; }
      .step-indicator {
        color: color-yiq($primary);
        background-color: $primary;
        border-color: $primary;
      }
    }

    .step-indicator {
      &::after { box-shadow: 0 0 0 ($spacer * .25) transparentize($primary, 0.8); }
    }
  }
}
