//
// Steps
//
.nav-steps {
  .nav-item {

    &.visited, &.active {
      &::before { background-color: var(--primary); }
      .step-indicator {
        color: color-yiq(var(--primary));
        background-color: var(--primary);
        border-color: var(--primary);
      }
    }

    .step-indicator {
      &::after { box-shadow: 0 0 0 ($spacer * .25) transparentize(var(--primary), 0.8); }
    }
  }
}
