- content_for :head do
  %script{ src: "https://cdn.bonterra.network/stitch/helpers/bonterra-logo/bonterra-logo.js", type: "module" }

- bonterra = false if local_assigns[:bonterra].nil?

- if bonterra
  = link_to 'https://www.bonterratech.com', title: 'Powered by Bonterra', class: 'd-inline-block text-decoration-none align-middle' do
    %bonterra-logo{ name: "bonterra_logomark", alt: "Bonterra", type: "svg", size: "medium" }
- else
  = link_to 'http://www.networkforgood.com', target: '_blank', title: 'Bonterra Network for Good', class: 'd-inline-block' do
    %bonterra-logo{ name: "bonterra_logolockups_network_for_good", alt: "Bonterra Network for Good", type: "svg", size: "large" }
