// Checkboxes and radios

.custom-control-inline { display: -ms-inline-flexbox; }

.custom-select {
  background-image: none;
  &::-ms-expand {
    display: block;
  }
}

.custom-switch {
  .custom-control-label {
    &::before {
      background-size: 45% !important;
      background-position-x: left;
    }
  }
}
