// Checkboxes and radios

.custom-control-inline { display: -ms-inline-flexbox; }

.custom-select {
  background-size: 30%;
  background-position-x: right 0px;
}

.custom-switch {
  .custom-control-label {
    &::before {
      background-size: 45% !important;
      background-position-x: left;
    }
  }
}
