// Base class

.nav {
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  // override because flexbox displays incorrect in <= IE10
  &.site-nav {
    display: block !important;
    .nav-sub-menu { display: block !important; }
  }
}

// Justified variants

.nav-fill {
  .nav-item {
    -ms-flex: 1 1 auto;
  }
}

.nav-justified {
  .nav-item {
    -ms-flex-preferred-size: 0;
    -ms-flex-positive: 1;
  }
}


