%row
  %columns
    %spacer{ size: spacer(:double) }
    %a{ href: t('nfg_ui.email.links.nfg_website.homepage'), target: "_blank" }
      %img.display-inline-block{ src: "https://cdn.bonterra.network/stitch/logos/png/bonterra_logolockups_network_for_good_inverse.png", alt: t('nfg_ui.email.images.alt.logo'), width: "220", style: "width:220px;" }/
    %spacer{ size: spacer(:triple) }
