%row
  %columns
    / %spacer{ size: spacer(:double) }
    %spacer{ size: 24 }
    %a{ href: t('nfg_ui.email.links.nfg_website.homepage'), target: "_blank" }
      %img.display-inline-block{ src: image_path(t("nfg_ui.email.images.logo")), alt: t('nfg_ui.email.images.alt.logo'), width: "220", style: "width:220px;" }/
    / %spacer{ size: spacer(:triple) }
    %spacer{ size: 36 }

