// FF Chartwell - Visual Graphing Font
// Pies
@font-face {
  font-family: ChartwellPiesWebPro;
  src:url(font-path('ff_chartwell/ChartwellPiesWebPro.eot'));
}

@font-face {
  font-family: ChartwellPiesWebPro;
  src:url(font-path('ff_chartwell/ChartwellPiesWebPro.woff')) format('woff');
}

// Used for charts on peer-to-peer and fundraiser public pages
.thumbnail {
  .avatar { z-index: 1; }
  .pies {
    position: absolute;
    top: -34px;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 160px;
    line-height: 1;
    z-index: 0;
  }
}
