// Styles specific to the event livestream styles
.event {
  @include media-breakpoint-up(lg) { height: 100%; }
  .page-content {
    @include media-breakpoint-up(lg) { height: 100%; }
  }
}

// Block containers for side by side view
.event-body {
  @include media-breakpoint-up(lg) {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
.event-content {
  @include media-breakpoint-up(lg) {
    float: left;
    width: 67%;
    height: 100%;
    overflow-y: auto;
    > :last-child { margin-bottom: ($spacer * 2); }
  }
}
.event-sidebar {
  @include media-breakpoint-down(md) { border-bottom: $border-width solid $border-color; }
  @include media-breakpoint-up(lg) {
    float: right;
    width: 33%;
    height: 100%;
    border-left: $border-width solid $border-color;
    > :last-child { margin-bottom: $spacer; }
  }
}
.event-sidebar-scroll {
  overflow-y: scroll;
}
