// Styles specific to the everyday story style
.everyday_story {
  .jumbotron {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    @include media-breakpoint-down(md) {
      background-image: none !important;
      .card { box-shadow: none !important; }
      .card-body { padding: 0; }
    }
    @include media-breakpoint-up(lg) { min-height: 500px; }
  }

  &.admin {
    .jumbotron {
      &::before { margin-top: 0; }
    }
  }
}
