// Styles specific to the event livestream styles
.event {
  @include media-breakpoint-up(lg) { height: 100%; }
  .page-content {
    @include media-breakpoint-up(lg) { height: 100%; }
  }
}

// Block containers for side by side view
.event-body {
  @include media-breakpoint-up(lg) {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
.event-content {
  padding: $spacer;
  @include media-breakpoint-up(lg) {
    float: left;
    width: 67%;
    height: 100%;
    overflow-y: auto;
    > :last-child { margin-bottom: ($spacer * 2); }
  }
}
.event-sidebar {
  @include media-breakpoint-down(md) { border-bottom: $border-width solid $border-color; }
  @include media-breakpoint-up(lg) {
    float: right;
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 100%;
    border-left: $border-width solid $border-color;
    > :last-child { margin-bottom: $spacer; }
  }
  &.event-sidebar-scroll {
    @include media-breakpoint-up(lg) { overflow-y: auto; }
  }
  .event-sidebar-section {
    padding: $spacer;
    + .event-sidebar-section { border-top: $border-width solid $border-color; }
    &.event-sidebar-section-scroll {
      height: 100%;
      min-height: ($spacer * 10); // sets min-height to ensure the scrollable area has room to be seen on restricted height devices (not mobile)
      overflow-y: auto;
    }
  }
}

// styles specific to donor-scroll to remove default card styles when donor scroll is inside the event sidebar
.event-sidebar-section {
  .card[data-describe='donor-scroll'] {
    border: 0;
    .card-body { padding: 0; }
  }
}

// chat container and message specific styles
.event-sidebar-section-chat {
  @include media-breakpoint-down(md) { // puts a border and height on mobile
    height: ($spacer * 10);
    border: $border-width solid $border-color;
    border-radius: $border-radius;
  }
  @include media-breakpoint-up(lg) {
    height: 100%;
    min-height: ($spacer * 10);
  }
  // hides elements in public page chat only meant for admin view
  // need this because .chat-message delete button doesn't know user type in partial
  .hide-admin { display: none; }
}
