.fundraiser {
  .jumbotron {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    @include media-breakpoint-down(md) { background-image: none !important; }
    @include media-breakpoint-up(lg) {
      min-height: 500px;
      color: $white;
      text-shadow: $box-shadow-sm;
    }
  }
}
