// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white:    #fff;
$gray-100: #f7f7f7;
$gray-200: #e5e5e5;
$gray-300: #d8d8d8;
// $gray-400: #ced4da !default; // not used in our theme
// $gray-500: #adb5bd !default; // not used in our theme
$gray-600: #959595;
// $gray-700: #495057 !default; // not used in our theme
$gray-800: #4d4d4d;
// $gray-900: #212529 !default; // not used in our theme
$black:    #000;

// $grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
// $grays: map-merge(
//   (
//     "100": $gray-100,
//     "200": $gray-200,
//     "300": $gray-300,
//     "400": $gray-400,
//     "500": $gray-500,
//     "600": $gray-600,
//     "700": $gray-700,
//     "800": $gray-800,
//     "900": $gray-900
//   ),
//   $grays
// );

$blue:    #25aceb;
// $indigo:  #6610f2 !default; // not used in our theme
// $purple:  #6f42c1 !default; // not used in our theme
// $pink:    #e83e8c !default; // not used in our theme
$red:     #ff6d33;
$orange:  #ffaa00;
// $yellow:  #ffc107 !default; // not used in our theme
$green:   #59bf22;
$teal:    #60c6cf; // legacy color -- not used in our theme
// $cyan:    #17a2b8 !default; // not used in our theme

// $colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
// $colors: map-merge(
//   (
//     "blue":       $blue,
//     "indigo":     $indigo,
//     "purple":     $purple,
//     "pink":       $pink,
//     "red":        $red,
//     "orange":     $orange,
//     "yellow":     $yellow,
//     "green":      $green,
//     "teal":       $teal,
//     "cyan":       $cyan,
//     "white":      $white,
//     "gray":       $gray-600,
//     "gray-dark":  $gray-800
//   ),
//   $colors
// );

$primary:       $blue;
// $secondary:     $gray-600 !default;
$success:       $green;
$info:          $blue;
$warning:       $orange;
$danger:        $red;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;


// $theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
// $theme-colors: map-merge(
//   (
//     "primary":    $primary,
//     "secondary":  $secondary,
//     "success":    $success,
//     "info":       $info,
//     "warning":    $warning,
//     "danger":     $danger,
//     "light":      $light,
//     "dark":       $dark
//   ),
//   $theme-colors
// );

// Set a specific jump point for requesting color jumps
// $theme-color-interval:      8% !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  150;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:             $gray-800;
$yiq-text-light:            $white;


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

// $enable-caret:                                true !default;
// $enable-rounded:                              true !default;
$enable-shadows:                              true;
// $enable-gradients:                            false !default;
// $enable-transitions:                          true !default;
// $enable-prefers-reduced-motion-media-query:   true !default;
// $enable-hover-media-query:                    false !default; // Deprecated, no longer affects any compiled CSS
// $enable-grid-classes:                         true !default;
// $enable-pointer-cursor-for-buttons:           true !default;
// $enable-print-styles:                         true !default;
// $enable-responsive-font-sizes:                false !default;
$enable-validation-icons:                     false;
// $enable-deprecation-messages:                 true !default;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 2.4rem;
// $spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
// $spacers: map-merge(
//   (
//     0: 0,
//     1: ($spacer * .25),
//     2: ($spacer * .5),
//     3: $spacer,
//     4: ($spacer * 1.5),
//     5: ($spacer * 3)
//   ),
//   $spacers
// );

// This variable affects the `.h-*` and `.w-*` classes.
// $sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
// $sizes: map-merge(
//   (
//     25: 25%,
//     50: 50%,
//     75: 75%,
//     100: 100%,
//     auto: auto
//   ),
//   $sizes
// );


// Body
//
// Settings for the `<body>` element.

$body-bg:                   $gray-100;
$body-color:                $gray-800;


// Links
//
// Style anchor elements.

$link-color:                              $primary;
// $link-decoration:                         none !default;
// $link-hover-color:                        darken($link-color, 15%) !default;
$link-hover-decoration:                   none;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
// $emphasized-link-hover-darken-percentage: 15% !default;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom:   $spacer;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px
// ) !default;

// @include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
// @include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px
// ) !default;

// @include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

// $grid-columns:                12 !default;
$grid-gutter-width:           $spacer;


// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg:              1.8;
$line-height-sm:              1;

$border-width:                1px;
$border-color:                $gray-300;

$border-radius:               .6rem;
$border-radius-lg:            .6rem;
$border-radius-sm:            .6rem;

// $rounded-pill:                50rem !default;

$box-shadow-sm:               0 2px 5px transparentize($black, 0.7);
$box-shadow:                  0 10px 30px transparentize($black, 0.9);
$box-shadow-lg:               0 15px 50px 0 transparentize($black, 0.85);

$component-active-color:      $white;
$component-active-bg:         $primary;

// $caret-width:                 .3em !default;
// $caret-vertical-align:        $caret-width * .85 !default;
// $caret-spacing:               $caret-width * .85 !default;

// $transition-base:             all .2s ease-in-out !default;
// $transition-fade:             opacity .15s linear !default;
// $transition-collapse:         height .35s ease !default;

// $embed-responsive-aspect-ratios: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
// $embed-responsive-aspect-ratios: join(
//   (
//     (21 9),
//     (16 9),
//     (3 4),
//     (1 1),
//   ),
//   $embed-responsive-aspect-ratios
// );

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      "Open Sans", "Helvetica Neue", Arial, sans-serif;
// $font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
// $font-family-base:            $font-family-sans-serif !default;
// stylelint-enable value-keyword-case

$font-size-base:              1.6rem; // Root font size is 62.5% to make calculations to REM 10 point based
// $font-size-lg:                ($font-size-base * 1.25) !default;
$font-size-sm:                ($font-size-base * .875);

// $font-weight-lighter:         lighter !default;
// $font-weight-light:           300 !default;
$font-weight-normal:          400;
$font-weight-bold:            600;
// $font-weight-bolder:          bolder !default;

// $font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5;

$h1-font-size:                ($font-size-base * 2.25);
// $h2-font-size:                $font-size-base * 2 !default;
// $h3-font-size:                $font-size-base * 1.75 !default;
// $h4-font-size:                $font-size-base * 1.5 !default;
// $h5-font-size:                $font-size-base * 1.25 !default;
// $h6-font-size:                $font-size-base !default;

$headings-margin-bottom:      0;
// $headings-font-family:        null !default;
$headings-font-weight:        $font-weight-bold;
$headings-line-height:        1.2;
// $headings-color:              null !default;

// $display1-size:               6rem !default;
// $display2-size:               5.5rem !default;
// $display3-size:               4.5rem !default;
$display4-size:               ($font-size-base * .875);

// $display1-weight:             300 !default;
// $display2-weight:             300 !default;
// $display3-weight:             300 !default;
$display4-weight:             $font-weight-normal;
// $display-line-height:         $headings-line-height !default;

$lead-font-size:              ($font-size-base * 1.5);
$lead-font-weight:            $font-weight-normal;

// $small-font-size:             80% !default;

$text-muted:                  $gray-600;

// $blockquote-small-color:      $gray-600 !default;
// $blockquote-small-font-size:  $small-font-size !default;
// $blockquote-font-size:        ($font-size-base * 1.25) !default;

$hr-border-color:             $border-color;
// $hr-border-width:             $border-width !default;

// $mark-padding:                .2em !default;

// $dt-font-weight:              $font-weight-bold !default;

// $kbd-box-shadow:              inset 0 -.1rem 0 rgba($black, .25) !default;
// $nested-kbd-font-weight:      $font-weight-bold !default;

// $list-inline-padding:         .5rem !default;

// $mark-bg:                     #fcf8e3 !default;

// $hr-margin-y:                 $spacer !default;


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding:          $spacer;
$table-cell-padding-sm:       ($spacer * .5);

// $table-color:                 $body-color !default;
// $table-bg:                    transparent !default;
$table-accent-bg:             $body-bg;
// $table-hover-color:           $table-color !default;
$table-hover-bg:              $black;
// $table-active-bg:             $table-hover-bg !default;

// $table-border-width:          $border-width !default;
$table-border-color:          $border-color;

$table-head-bg:               $body-bg;
$table-head-color:            $body-color;

// $table-dark-color:            $white !default;
$table-dark-bg:               theme-color("dark");
$table-dark-accent-bg:        $gray-600;
// $table-dark-hover-color:      $table-dark-color !default;
$table-dark-hover-bg:         $white;
$table-dark-border-color:     lighten($gray-800, 7.5%);
$table-dark-color:            theme-color("light");

// $table-striped-order:         odd !default;

// $table-caption-color:         $text-muted !default;

// $table-bg-level:              -9 !default;
// $table-border-level:          -6 !default;


// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y:         .5rem;
$input-btn-padding-x:         ($spacer * .5);
// $input-btn-font-family:       null !default;
// $input-btn-font-size:         $font-size-base !default;
// $input-btn-line-height:       $line-height-base !default;

$input-btn-focus-width:       0;
// $input-btn-focus-color:       rgba($component-active-bg, .25) !default;
$input-btn-focus-box-shadow:  none;

$input-btn-padding-y-sm:      .4rem;
$input-btn-padding-x-sm:      ($spacer * .25);
// $input-btn-font-size-sm:      $font-size-sm !default;
// $input-btn-line-height-sm:    $line-height-sm !default;

$input-btn-padding-y-lg:      1.1rem;
$input-btn-padding-x-lg:      ($spacer * .75);
// $input-btn-font-size-lg:      $font-size-lg !default;
// $input-btn-line-height-lg:    $line-height-lg !default;

// $input-btn-border-width:      $border-width !default;


// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

// $btn-padding-y:               $input-btn-padding-y !default;
// $btn-padding-x:               $input-btn-padding-x !default;
// $btn-font-family:             $input-btn-font-family !default;
// $btn-font-size:               $input-btn-font-size !default;
// $btn-line-height:             $input-btn-line-height !default;

// $btn-padding-y-sm:            $input-btn-padding-y-sm !default;
// $btn-padding-x-sm:            $input-btn-padding-x-sm !default;
// $btn-font-size-sm:            $input-btn-font-size-sm !default;
// $btn-line-height-sm:          $input-btn-line-height-sm !default;

// $btn-padding-y-lg:            $input-btn-padding-y-lg !default;
// $btn-padding-x-lg:            $input-btn-padding-x-lg !default;
// $btn-font-size-lg:            $input-btn-font-size-lg !default;
// $btn-line-height-lg:          $input-btn-line-height-lg !default;

// $btn-border-width:            $input-btn-border-width !default;

$btn-font-weight:             $font-weight-bold;
$btn-box-shadow:              none;
// $btn-focus-width:             $input-btn-focus-width !default;
// $btn-focus-box-shadow:        $input-btn-focus-box-shadow !default;
// $btn-disabled-opacity:        .65 !default;
$btn-active-box-shadow:       none;

// $btn-link-disabled-color:     $gray-600 !default;

// $btn-block-spacing-y:         .5rem !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:           $border-radius;
$btn-border-radius-lg:        $border-radius;
$btn-border-radius-sm:        $border-radius;

// $btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;


// Forms

$label-margin-bottom:                   ($spacer * .25);

// $input-padding-y:                       $input-btn-padding-y !default;
// $input-padding-x:                       $input-btn-padding-x !default;
// $input-font-family:                     $input-btn-font-family !default;
// $input-font-size:                       $input-btn-font-size !default;
// $input-font-weight:                     $font-weight-base !default;
// $input-line-height:                     $input-btn-line-height !default;

$input-padding-y-sm:                    .3rem;
// $input-padding-x-sm:                    $input-btn-padding-x-sm !default;
// $input-font-size-sm:                    $input-btn-font-size-sm !default;
$input-line-height-sm:                  1.2;

// $input-padding-y-lg:                    $input-btn-padding-y-lg !default;
// $input-padding-x-lg:                    $input-btn-padding-x-lg !default;
// $input-font-size-lg:                    $input-btn-font-size-lg !default;
// $input-line-height-lg:                  $input-btn-line-height-lg !default;

// $input-bg:                              $white !default;
// $input-disabled-bg:                     $gray-200 !default;

$input-color:                           $body-color;
$input-border-color:                    $border-color;
// $input-border-width:                    $input-btn-border-width !default;
$input-box-shadow:                      none;

$input-border-radius:                   0px;
$input-border-radius-lg:                0px;
$input-border-radius-sm:                0px;

// $input-focus-bg:                        $input-bg !default;
$input-focus-border-color:              $primary;
// $input-focus-color:                     $input-color !default;
// $input-focus-width:                     $input-btn-focus-width !default;
// $input-focus-box-shadow:                $input-btn-focus-box-shadow !default;

$input-placeholder-color:               $text-muted;
// $input-plaintext-color:                 $body-color !default;

// $input-height-border:                   $input-border-width * 2 !default;

// $input-height-inner:                    calc(#{$input-line-height * 1em} + #{$input-padding-y * 2}) !default;
// $input-height-inner-half:               calc(#{$input-line-height * .5em} + #{$input-padding-y}) !default;
// $input-height-inner-quarter:            calc(#{$input-line-height * .25em} + #{$input-padding-y / 2}) !default;

// $input-height:                          calc(#{$input-line-height * 1em} + #{$input-padding-y * 2} + #{$input-height-border}) !default;
// $input-height-sm:                       calc(#{$input-line-height-sm * 1em} + #{$input-btn-padding-y-sm * 2} + #{$input-height-border}) !default;
// $input-height-lg:                       calc(#{$input-line-height-lg * 1em} + #{$input-btn-padding-y-lg * 2} + #{$input-height-border}) !default;

// $input-transition:                      border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

$form-text-margin-top:                  ($spacer * .25);

$form-check-input-gutter:               $spacer;
$form-check-input-margin-y:             .4rem;
$form-check-input-margin-x:             $spacer;

$form-check-inline-margin-x:            $spacer;
$form-check-inline-input-margin-x:      ($spacer * .25);

$form-grid-gutter-width:                ($spacer * .5);
$form-group-margin-bottom:              $spacer;

// $input-group-addon-color:               $input-color !default;
// $input-group-addon-bg:                  $gray-200 !default;
// $input-group-addon-border-color:        $input-border-color !default;

// $custom-forms-transition:               background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

$custom-control-gutter:                 ($spacer * .5);
$custom-control-spacer-x:               $spacer;

$custom-control-indicator-size:         ($spacer * .75);
$custom-control-indicator-bg:           $white;

$custom-control-indicator-bg-size:      70% 70%;
$custom-control-indicator-box-shadow:   none;
$custom-control-indicator-border-color: $border-color;
$custom-control-indicator-border-width: $border-width;

// $custom-control-indicator-disabled-bg:          $input-disabled-bg !default;
$custom-control-label-disabled-color:           $text-muted;

// $custom-control-indicator-checked-color:        $component-active-color !default;
// $custom-control-indicator-checked-bg:           $component-active-bg !default;
// $custom-control-indicator-checked-disabled-bg:  rgba(theme-color("primary"), .5) !default;
// $custom-control-indicator-checked-box-shadow:   none !default;
// $custom-control-indicator-checked-border-color: $custom-control-indicator-checked-bg !default;

$custom-control-indicator-focus-box-shadow:     none;
// $custom-control-indicator-focus-border-color:   $input-focus-border-color !default;

// $custom-control-indicator-active-color:         $component-active-color !default;
// $custom-control-indicator-active-bg:            lighten($component-active-bg, 35%) !default;
// $custom-control-indicator-active-box-shadow:    none !default;
// $custom-control-indicator-active-border-color:  $custom-control-indicator-active-bg !default;

// $custom-checkbox-indicator-border-radius:       $border-radius !default;
// $custom-checkbox-indicator-icon-checked:        str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='#{$custom-control-indicator-checked-color}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e"), "#", "%23") !default;

// $custom-checkbox-indicator-indeterminate-bg:           $component-active-bg !default;
// $custom-checkbox-indicator-indeterminate-color:        $custom-control-indicator-checked-color !default;
// $custom-checkbox-indicator-icon-indeterminate:         str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3e%3cpath stroke='#{$custom-checkbox-indicator-indeterminate-color}' d='M0 2h4'/%3e%3c/svg%3e"), "#", "%23") !default;
// $custom-checkbox-indicator-indeterminate-box-shadow:   none !default;
// $custom-checkbox-indicator-indeterminate-border-color: $custom-checkbox-indicator-indeterminate-bg !default;

// $custom-radio-indicator-border-radius:          50% !default;
// $custom-radio-indicator-icon-checked:           str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='#{$custom-control-indicator-checked-color}'/%3e%3c/svg%3e"), "#", "%23") !default;

$custom-switch-width:                           ($spacer * 2);
// $custom-switch-indicator-border-radius:         $custom-control-indicator-size / 2 !default;
$custom-switch-indicator-size:                  $spacer;

// $custom-select-padding-y:           $input-btn-padding-y !default;
// $custom-select-padding-x:           $input-btn-padding-x !default;
// $custom-select-font-family:         $input-font-family !default;
// $custom-select-font-size:           $input-font-size !default;
// $custom-select-height:              $input-height !default;
$custom-select-indicator-padding:   $spacer; // Extra padding to account for the presence of the background-image based indicator
// $custom-select-font-weight:         $input-font-weight !default;
// $custom-select-line-height:         $input-line-height !default;
$custom-select-color:               $primary;
// $custom-select-disabled-color:      $gray-600 !default;
// $custom-select-bg:                  $input-bg !default;
// $custom-select-disabled-bg:         $gray-200 !default;
// $custom-select-bg-size:             8px 10px !default; // In pixels because image dimensions
// $custom-select-indicator-color:     $gray-800 !default;
// $custom-select-indicator:           str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='#{$custom-select-indicator-color}' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e"), "#", "%23") !default;
// $custom-select-background:          $custom-select-indicator no-repeat right $custom-select-padding-x center / $custom-select-bg-size !default; // Used so we can have multiple background elements (e.g., arrow and feedback icon)

// $custom-select-feedback-icon-padding-right: $input-height-inner * 3 / 4 + $custom-select-padding-x + $custom-select-indicator-padding !default;
// $custom-select-feedback-icon-position:      center right ($custom-select-padding-x + $custom-select-indicator-padding) !default;
// $custom-select-feedback-icon-size:          ($input-height-inner / 2) ($input-height-inner / 2) !default;

// $custom-select-border-width:        $input-border-width !default;
// $custom-select-border-color:        $input-border-color !default;
// $custom-select-border-radius:       $border-radius !default;
// $custom-select-box-shadow:          inset 0 1px 2px rgba($black, .075) !default;

// $custom-select-focus-border-color:  $input-focus-border-color !default;
// $custom-select-focus-width:         $input-focus-width !default;
$custom-select-focus-box-shadow:    none;

// $custom-select-padding-y-sm:        $input-padding-y-sm !default;
// $custom-select-padding-x-sm:        $input-padding-x-sm !default;
// $custom-select-font-size-sm:        $input-btn-font-size-sm !default;
// $custom-select-height-sm:           $input-height-sm !default;

// $custom-select-padding-y-lg:        $input-padding-y-lg !default;
// $custom-select-padding-x-lg:        $input-padding-x-lg !default;
// $custom-select-font-size-lg:        $input-btn-font-size-lg !default;
// $custom-select-height-lg:           $input-height-lg !default;

// $custom-range-track-width:          100% !default;
// $custom-range-track-height:         .5rem !default;
// $custom-range-track-cursor:         pointer !default;
// $custom-range-track-bg:             $gray-300 !default;
// $custom-range-track-border-radius:  1rem !default;
// $custom-range-track-box-shadow:     inset 0 .25rem .25rem rgba($black, .1) !default;

// $custom-range-thumb-width:                   1rem !default;
// $custom-range-thumb-height:                  $custom-range-thumb-width !default;
// $custom-range-thumb-bg:                      $component-active-bg !default;
// $custom-range-thumb-border:                  0 !default;
// $custom-range-thumb-border-radius:           1rem !default;
// $custom-range-thumb-box-shadow:              0 .1rem .25rem rgba($black, .1) !default;
// $custom-range-thumb-focus-box-shadow:        0 0 0 1px $body-bg, $input-focus-box-shadow !default;
// $custom-range-thumb-focus-box-shadow-width:  $input-focus-width !default; // For focus box shadow issue in IE/Edge
// $custom-range-thumb-active-bg:               lighten($component-active-bg, 35%) !default;
// $custom-range-thumb-disabled-bg:             $gray-500 !default;

// $custom-file-height:                $input-height !default;
// $custom-file-height-inner:          $input-height-inner !default;
// $custom-file-focus-border-color:    $input-focus-border-color !default;
// $custom-file-focus-box-shadow:      $input-focus-box-shadow !default;
// $custom-file-disabled-bg:           $input-disabled-bg !default;

// $custom-file-padding-y:             $input-padding-y !default;
// $custom-file-padding-x:             $input-padding-x !default;
// $custom-file-line-height:           $input-line-height !default;
// $custom-file-font-family:           $input-font-family !default;
// $custom-file-font-weight:           $input-font-weight !default;
// $custom-file-color:                 $input-color !default;
// $custom-file-bg:                    $input-bg !default;
// $custom-file-border-width:          $input-border-width !default;
// $custom-file-border-color:          $input-border-color !default;
// $custom-file-border-radius:         $input-border-radius !default;
// $custom-file-box-shadow:            $input-box-shadow !default;
// $custom-file-button-color:          $custom-file-color !default;
// $custom-file-button-bg:             $input-group-addon-bg !default;
// $custom-file-text: (
//   en: "Browse"
// ) !default;


// Form validation

// $form-feedback-margin-top:          $form-text-margin-top !default;
$form-feedback-font-size:           $font-size-sm;
$form-feedback-valid-color:         $success;
$form-feedback-invalid-color:       $danger;

// $form-feedback-icon-valid-color:    $form-feedback-valid-color !default;
$form-feedback-icon-valid:          none;
// $form-feedback-icon-invalid-color:  $form-feedback-invalid-color !default;
$form-feedback-icon-invalid:        none;

$form-validation-states: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$form-validation-states: map-merge(
  (
    "valid": (
      "color": $form-feedback-valid-color,
      "icon": $form-feedback-icon-valid
    ),
    "invalid": (
      "color": $form-feedback-invalid-color,
      "icon": $form-feedback-icon-invalid
    ),
  ),
  $form-validation-states
);

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

// $zindex-dropdown:                   1000 !default;
// $zindex-sticky:                     1020 !default;
// $zindex-fixed:                      1030 !default;
// $zindex-modal-backdrop:             1040 !default;
// $zindex-modal:                      1050 !default;
// $zindex-popover:                    1060 !default;
// $zindex-tooltip:                    1070 !default;


// Navs

$nav-link-padding-y:                ($spacer * .5);
$nav-link-padding-x:                $spacer;
$nav-link-disabled-color:           $text-muted;

$nav-tabs-border-color:             $border-color;
// $nav-tabs-border-width:             $border-width !default;
// $nav-tabs-border-radius:            $border-radius !default;
// $nav-tabs-link-hover-border-color:  $gray-200 $gray-200 $nav-tabs-border-color !default;
// $nav-tabs-link-active-color:        $gray-700 !default;
// $nav-tabs-link-active-bg:           $body-bg !default;
// $nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg !default;

// $nav-pills-border-radius:           $border-radius !default;
// $nav-pills-link-active-color:       $component-active-color !default;
// $nav-pills-link-active-bg:          $component-active-bg !default;

$nav-divider-color:                 $border-color;
$nav-divider-margin-y:              0;


// Navbar

$navbar-padding-y:                  ($spacer * .5);
// $navbar-padding-x:                  $spacer !default;

$navbar-nav-link-padding-x:         ($spacer * .5);

// $navbar-brand-font-size:            $font-size-lg !default;
// Compute the navbar-brand padding-y so the navbar-brand will have the same height as navbar-text and nav-link
// $nav-link-height:                   $font-size-base * $line-height-base + $nav-link-padding-y * 2 !default;
// $navbar-brand-height:               $navbar-brand-font-size * $line-height-base !default;
// $navbar-brand-padding-y:            ($nav-link-height - $navbar-brand-height) / 2 !default;

$navbar-toggler-padding-y:          ($spacer * .25);
$navbar-toggler-padding-x:          ($spacer * .5);
// $navbar-toggler-font-size:          $font-size-lg !default;
// $navbar-toggler-border-radius:      $btn-border-radius !default;

// $navbar-dark-color:                 rgba($white, .5) !default;
// $navbar-dark-hover-color:           rgba($white, .75) !default;
// $navbar-dark-active-color:          $white !default;
// $navbar-dark-disabled-color:        rgba($white, .25) !default;
// $navbar-dark-toggler-icon-bg:       str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23") !default;
// $navbar-dark-toggler-border-color:  rgba($white, .1) !default;

$navbar-light-color:                $body-color;
$navbar-light-hover-color:          $primary;
$navbar-light-active-color:         $primary;
$navbar-light-disabled-color:       $text-muted;
// $navbar-light-toggler-icon-bg:      str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23") !default;
// $navbar-light-toggler-border-color: rgba($black, .1) !default;

// $navbar-light-brand-color:                $navbar-light-active-color !default;
// $navbar-light-brand-hover-color:          $navbar-light-active-color !default;
// $navbar-dark-brand-color:                 $navbar-dark-active-color !default;
// $navbar-dark-brand-hover-color:           $navbar-dark-active-color !default;


// Dropdowns
//
// Dropdown menu container and contents.

// $dropdown-min-width:                10rem !default;
$dropdown-padding-y:                0;
$dropdown-spacer:                   ($spacer * .25);
// $dropdown-bg:                       $white !default;
// $dropdown-font-size:                $font-size-base !default;
// $dropdown-color:                    $body-color !default;
$dropdown-border-color:             transparent;
// $dropdown-border-radius:            $border-radius !default;
$dropdown-border-width:             0px;
// $dropdown-inner-border-radius:      calc(#{$dropdown-border-radius} - #{$dropdown-border-width}) !default;
$dropdown-divider-bg:               $border-color;
// $dropdown-divider-margin-y:         $nav-divider-margin-y !default;
$dropdown-box-shadow:               $box-shadow-sm;

$dropdown-link-color:               $body-color;
$dropdown-link-hover-color:         $body-color;
$dropdown-link-hover-bg:            $body-bg;

$dropdown-link-active-color:        $body-color;
$dropdown-link-active-bg:           $body-bg;

$dropdown-link-disabled-color:      $text-muted;

$dropdown-item-padding-y:           ($spacer * .5);
$dropdown-item-padding-x:           ($spacer * .5);

$dropdown-header-color:             $text-muted;


// Pagination

$pagination-padding-y:              $input-btn-padding-y;
$pagination-padding-x:              $input-btn-padding-x;
$pagination-padding-y-sm:           $input-btn-padding-y-sm;
$pagination-padding-x-sm:           $input-btn-padding-x-sm;
$pagination-padding-y-lg:           $input-btn-padding-y-lg;
$pagination-padding-x-lg:           $input-btn-padding-x-lg;
$pagination-line-height:            $line-height-base;

// $pagination-color:                  $link-color !default;
// $pagination-bg:                     $white !default;
// $pagination-border-width:           $border-width !default;
$pagination-border-color:           $border-color;

// $pagination-focus-box-shadow:       $input-btn-focus-box-shadow !default;
// $pagination-focus-outline:          0 !default;

// $pagination-hover-color:            $link-hover-color !default;
$pagination-hover-bg:               theme-color("light");
$pagination-hover-border-color:     $border-color;

// $pagination-active-color:           $component-active-color !default;
// $pagination-active-bg:              $component-active-bg !default;
// $pagination-active-border-color:    $pagination-active-bg !default;

$pagination-disabled-color:         $text-muted;
$pagination-disabled-bg:            theme-color("light");
$pagination-disabled-border-color:  $border-color;


// Jumbotron

$jumbotron-padding:                 $spacer;
// $jumbotron-color:                   null !default;
$jumbotron-bg:                      $body-bg;


// Cards

$card-spacer-y:                     $spacer;
$card-spacer-x:                     $spacer;
$card-border-width:                 0;
// $card-border-radius:                $border-radius !default;
$card-border-color:                 transparent;
// $card-inner-border-radius:          calc(#{$card-border-radius} - #{$card-border-width}) !default;
$card-cap-bg:                       theme-color("light");
// $card-cap-color:                    null !default;
// $card-color:                        null !default;
// $card-bg:                           $white !default;

$card-img-overlay-padding:          ($spacer * .5);

// $card-group-margin:                 $grid-gutter-width / 2 !default;
// $card-deck-margin:                  $card-group-margin !default;

// $card-columns-count:                3 !default;
// $card-columns-gap:                  1.25rem !default;
// $card-columns-margin:               $card-spacer-y !default;


// Tooltips

// $tooltip-font-size:                 $font-size-sm !default;
$tooltip-max-width:                 300px;
// $tooltip-color:                     $white !default;
$tooltip-bg:                        transparentize($black, 0.1);
// $tooltip-border-radius:             $border-radius !default;
// $tooltip-opacity:                   .9 !default;
$tooltip-padding-y:                 ($spacer * .25);
$tooltip-padding-x:                 ($spacer * .5);
$tooltip-margin:                    ($spacer * .25);

$tooltip-arrow-width:               ($spacer * .5);
$tooltip-arrow-height:              ($spacer * .25);
// $tooltip-arrow-color:               $tooltip-bg !default;

// Form tooltips must come after regular tooltips
// $form-feedback-tooltip-padding-y:     $tooltip-padding-y !default;
// $form-feedback-tooltip-padding-x:     $tooltip-padding-x !default;
// $form-feedback-tooltip-font-size:     $tooltip-font-size !default;
// $form-feedback-tooltip-line-height:   $line-height-base !default;
// $form-feedback-tooltip-opacity:       $tooltip-opacity !default;
// $form-feedback-tooltip-border-radius: $tooltip-border-radius !default;


// Popovers

// $popover-font-size:                 $font-size-sm !default;
// $popover-bg:                        $white !default;
$popover-max-width:                 300px;
// $popover-border-width:              $border-width !default;
$popover-border-color:              $border-color;
$popover-border-radius:             $border-radius;
$popover-box-shadow:                $box-shadow;

$popover-header-bg:                 $body-bg;
// $popover-header-color:              $headings-color !default;
$popover-header-padding-y:          ($spacer * .25);
$popover-header-padding-x:          ($spacer * .5);

// $popover-body-color:                $body-color !default;
// $popover-body-padding-y:            $popover-header-padding-y !default;
// $popover-body-padding-x:            $popover-header-padding-x !default;

$popover-arrow-width:               ($spacer * .25);
$popover-arrow-height:              ($spacer * .25);
// $popover-arrow-color:               $popover-bg !default;

// $popover-arrow-outer-color:         fade-in($popover-border-color, .05) !default;


// Toasts

$toast-max-width:                   300px;
$toast-padding-x:                   ($spacer * .5);
$toast-padding-y:                   ($spacer * .25);
$toast-font-size:                   $font-size-base;
// $toast-color:                       null !default;
// $toast-background-color:            rgba($white, .85) !default;
$toast-border-width:                $border-width;
$toast-border-color:                $border-color;
$toast-border-radius:               $border-radius;
$toast-box-shadow:                  $box-shadow-sm;

$toast-header-color:                $body-color;
$toast-header-background-color:     $body-bg;
$toast-header-border-color:         $border-color;


// Badges

$badge-font-size:                   80%;
// $badge-font-weight:                 $font-weight-bold !default;
// $badge-padding-y:                   .25em !default;
// $badge-padding-x:                   .4em !default;
// $badge-border-radius:               $border-radius !default;

// $badge-transition:                  $btn-transition !default;
// $badge-focus-width:                 $input-btn-focus-width !default;

// $badge-pill-padding-x:              .6em !default;
// Use a higher than normal value to ensure completely rounded edges when
// customizing padding or font-size on labels.
// $badge-pill-border-radius:          10rem !default;


// Modals

// Padding applied to the modal body
$modal-inner-padding:              $spacer;

$modal-dialog-margin:               $spacer;
$modal-dialog-margin-y-sm-up:       ($spacer * 1.5);

$modal-title-line-height:           inherit;

// $modal-content-color:               null !default;
// $modal-content-bg:                  $white !default;
$modal-content-border-color:        $border-color;
// $modal-content-border-width:        $border-width !default;
// $modal-content-border-radius:       $border-radius-lg !default;
// $modal-content-box-shadow-xs:       0 .25rem .5rem rgba($black, .5) !default;
// $modal-content-box-shadow-sm-up:    0 .5rem 1rem rgba($black, .5) !default;

$modal-backdrop-bg:                 transparentize($black, 0.1);
$modal-backdrop-opacity:            .9;
$modal-header-border-color:         $border-color;
// $modal-footer-border-color:         $modal-header-border-color !default;
// $modal-header-border-width:         $modal-content-border-width !default;
// $modal-footer-border-width:         $modal-header-border-width !default;
$modal-header-padding-y:            $spacer;
$modal-header-padding-x:            $spacer;
// $modal-header-padding:              $modal-header-padding-y $modal-header-padding-x !default; // Keep this for backwards compatibility

// $modal-xl:                          1140px !default;
$modal-lg:                          900px !default;
$modal-md:                          600px !default;
// $modal-sm:                          300px !default;

// $modal-fade-transform:              translate(0, -50px) !default;
// $modal-show-transform:              none !default;
// $modal-transition:                  transform .3s ease-out !default;


// Alerts
//
// Define alert colors, border radius, and padding.

$alert-padding-y:                   $spacer;
$alert-padding-x:                   $spacer;
$alert-margin-bottom:               $spacer;
// $alert-border-radius:               $border-radius !default;
// $alert-link-font-weight:            $font-weight-bold !default;
// $alert-border-width:                $border-width !default;

$alert-bg-level:                    -11;
$alert-border-level:                0;
// $alert-color-level:                 6 !default;


// Progress bars

$progress-height:                   $spacer;
$progress-font-size:                $font-size-sm;
// $progress-bg:                       $gray-200 !default;
// $progress-border-radius:            $border-radius !default;
$progress-box-shadow:               none;
// $progress-bar-color:                $white !default;
// $progress-bar-bg:                   theme-color("primary") !default;
// $progress-bar-animation-timing:     1s linear infinite !default;
// $progress-bar-transition:           width .6s ease !default;


// List group

// $list-group-color:                  null !default;
// $list-group-bg:                     $white !default;
$list-group-border-color:           $border-color;
// $list-group-border-width:           $border-width !default;
// $list-group-border-radius:          $border-radius !default;

$list-group-item-padding-y:         $spacer;
$list-group-item-padding-x:         ($spacer * .5);

$list-group-hover-bg:               theme-color("light");
// $list-group-active-color:           $component-active-color !default;
// $list-group-active-bg:              $component-active-bg !default;
// $list-group-active-border-color:    $list-group-active-bg !default;

$list-group-disabled-color:         $text-muted;
// $list-group-disabled-bg:            $list-group-bg !default;

$list-group-action-color:           $body-color;
// $list-group-action-hover-color:     $list-group-action-color !default;

// $list-group-action-active-color:    $body-color !default;
// $list-group-action-active-bg:       $gray-200 !default;


// Image thumbnails -- NOT CURRENTLY USED IN PUBLIC

// $thumbnail-padding:                 .25rem !default;
// $thumbnail-bg:                      $body-bg !default;
// $thumbnail-border-width:            $border-width !default;
// $thumbnail-border-color:            $gray-300 !default;
// $thumbnail-border-radius:           $border-radius !default;
// $thumbnail-box-shadow:              0 1px 2px rgba($black, .075) !default;


// Figures

// $figure-caption-font-size:          90% !default;
$figure-caption-color:              $text-muted;


// Breadcrumbs -- NOT CURRENTLY USED IN PUBLIC

// $breadcrumb-padding-y:              .75rem !default;
// $breadcrumb-padding-x:              1rem !default;
// $breadcrumb-item-padding:           .5rem !default;

// $breadcrumb-margin-bottom:          1rem !default;

// $breadcrumb-bg:                     $gray-200 !default;
// $breadcrumb-divider-color:          $gray-600 !default;
// $breadcrumb-active-color:           $gray-600 !default;
// $breadcrumb-divider:                quote("/") !default;

// $breadcrumb-border-radius:          $border-radius !default;


// Carousel

// $carousel-control-color:             $white !default;
// $carousel-control-width:             15% !default;
$carousel-control-opacity:           .3;
// $carousel-control-hover-opacity:     .9 !default;
// $carousel-control-transition:        opacity .15s ease !default;

$carousel-indicator-width:           ($spacer * .5);
$carousel-indicator-height:          ($spacer * .5);
// $carousel-indicator-hit-area-height: 10px !default;
$carousel-indicator-spacer:          ($spacer * .25);
// $carousel-indicator-active-bg:       $white !default;
$carousel-indicator-transition:      $gray-600;

// $carousel-caption-width:             70% !default;
// $carousel-caption-color:             $white !default;

// $carousel-control-icon-width:        20px !default;

// $carousel-control-prev-icon-bg:      str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e"), "#", "%23") !default;
// $carousel-control-next-icon-bg:      str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e"), "#", "%23") !default;

// $carousel-transition-duration:       .6s !default;
// $carousel-transition:                transform $carousel-transition-duration ease-in-out !default; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)


// Spinners

$spinner-width:         $spacer;
// $spinner-height:        $spinner-width !default;
// $spinner-border-width:  .25em !default;

$spinner-width-sm:        ($spacer * .5);
// $spinner-height-sm:       $spinner-width-sm !default;
// $spinner-border-width-sm: .2em !default;


// Close

// $close-font-size:                   $font-size-base * 1.5 !default;
// $close-font-weight:                 $font-weight-bold !default;
// $close-color:                       $black !default;
// $close-text-shadow:                 0 1px 0 $white !default;


// Code

// $code-font-size:                    87.5% !default;
// $code-color:                        $pink !default;

$kbd-padding-y:                     ($spacer * .25);
$kbd-padding-x:                     ($spacer * .5);
// $kbd-font-size:                     $code-font-size !default;
// $kbd-color:                         $white !default;
$kbd-bg:                            theme-color("dark");

$pre-color:                         theme-color("dark");
// $pre-scrollable-max-height:         340px !default;


// Utilities

// $displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;
// $overflows: auto, hidden !default;
// $positions: static, relative, absolute, fixed, sticky !default;


// Printing

// $print-page-size:                   a3 !default;
// $print-body-min-width:              map-get($grid-breakpoints, "lg") !default;
