// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  147;


// Components
//
// Define common padding and border radius sizes and more.

$box-shadow-sm:               0 2px 5px transparentize($black, 0.7);
$box-shadow:                  0 10px 30px transparentize($black, 0.9);
$box-shadow-lg:               0 15px 50px 0 transparentize($black, 0.85);


// Navs

$nav-tabs-border-width:             $border-width;


// Navbar

$navbar-padding-y:                  ($spacer * .5);


// Cards

$card-border-width:                 0;
$card-border-color:                 transparent;
$card-inner-border-radius:          $border-radius;
$card-cap-bg:                       theme-color("light");


// Carousel

$carousel-control-opacity:           .3;

$carousel-indicator-width:           ($spacer * .5);
$carousel-indicator-height:          ($spacer * .5);
$carousel-indicator-spacer:          ($spacer * .25);
$carousel-indicator-active-bg:       $text-muted;
$carousel-indicator-transition:      $text-muted;
