// Specific styles for entity branding

.custom-control {
  .custom-control-input {
    &:checked {
      ~ .custom-control-label, ~ .custom-control-label::before { border-color: var(--primary); }
      ~ .custom-control-label::before {
        background-color: var(--primary);
        box-shadow: 0 0 0 ($spacer * .125) transparentize(var(--primary), 0.8);
      }
    }
    &:not(:disabled):active ~ .custom-control-label::before {
      background-color: lighten(var(--primary), 35%);
      border-color: lighten(var(--primary), 35%);
    }
  }
  &.custom-control-block {
    .custom-control-input:checked ~ .custom-control-label { box-shadow: 0 0 0 ($spacer * .125) transparentize(var(--primary), 0.8); }
  }
}

.custom-select {
  &:active, &:focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 ($spacer * .125) transparentize(var(--primary), 0.8);
  }
}

.custom-file-input {
  &:focus ~ .custom-file-label {
    border-color: var(--primary);
    &::after { border-color: var(--primary); }
  }
}

.custom-switch {
  .custom-control-input:checked ~ .custom-control-label {
    &::after { border-color: var(--primary); }
    &::before {
      background-color: var(--primary);
      border-color: var(--primary);
    }
  }
}


// Styles needed to override :valid success styles provided by bootstrap... this is for server side forms only
.custom-control-input {
  .was-validated &:valid {
    &:checked {
      ~ .custom-control-label::before { background-color: var(--primary); }
    }
  }
}
