// Specific styles for entity branding

.navbar-light {
  .navbar-brand,
  .navbar-toggler {
    color: color-yiq($primary, $yiq-text-dark, $primary);
    &:hover, &:focus { color: color-yiq($primary, $yiq-text-dark, $primary); }
  }
  .navbar-nav {
    .nav-link {
      &:hover, &:focus { color: color-yiq($primary, darken($primary, 10%), $primary); }
    }
    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active { color: color-yiq($primary, darken($primary, 10%), $primary); }
  }
}
