// Specific styles for entity branding

.navbar-light {
  .navbar-brand,
  .navbar-toggler {
    color: var(--brand-primary-yiq-text-dark);
    &:hover, &:focus { color: var(--brand-primary-yiq-text-dark); }
  }
  .navbar-nav {
    .nav-link {
      &:hover, &:focus { color: var(--brand-primary-yiq-text-darker); }
    }
    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active { color: var(--brand-primary-yiq-text-darker); }
  }
}
