// Specific styles for entity branding

a {
  color: var(--brand-primary-yiq-text-dark);
  &:not([class*="btn"], [class*="nav"]) {
    color: var(--brand-primary-yiq-text-dark);
    text-decoration: underline;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
  .bg-dark & {
    color: $white;
    &:hover, &:focus { color: $white; }
  }
}
