// Specific styles for entity branding

a.no-link-color {
  &:hover, &:active, &:focus { color: var(--brand-primary) !important; }
}

.text-primary { color: var(--brand-primary-yiq-text-dark) !important; }

a.text-primary {
  color: var(--brand-primary-yiq-text-darker) !important;
  &:hover, &:focus { color: var(--brand-primary-dark) !important; }
}

.bg-dark {
  .text-primary { color: var(--brand-primary-yiq-text-light) !important; }
}
