%h1 Dropdowns

%h3 Default
= ui.nfg :dropdown, class: 'my-4' do
  = ui.nfg :dropdown_toggle, body: 'Manual Toggle'
  Coming Soon

%hr

%h3 Auto dropdown button
= ui.nfg :dropdown, button: 'Auto Dropdown' do
  Coming Soon

%h4.mt-4 Thematic auto button
= ui.nfg :dropdown, button: 'Auto Dropdown with Theme', theme: :warning do
  Coming Soon

%hr
