// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  177;


// Components
//
// Define common padding and border radius sizes and more.

$box-shadow-sm:               0 0 5px transparentize($black, 0.7) !default;
$box-shadow:                  0 0 30px transparentize($black, 0.93) !default;
$box-shadow-lg:               0 0 50px 0 transparentize($black, 0.9) !default;


// Navs

$nav-tabs-border-width:             3px;
