%div{ tile_header.html_options }
  - if tile_header.collapsible
    = ui.nfg :button, collapse: tile_header.collapse, theme: :link, block: true, class: 'no-link-color p-0 m-0' do
      .row.align-items-center
        .col-10.text-left
          = ui.nfg :typeface, title: tile_header.title, class: 'text-uppercase', icon: tile_header.icon
        .col-2.text-right
          = ui.nfg :icon, 'caret-down fw', tooltip: 'Show / hide additional information'

  - else
    = ui.nfg :typeface, title: tile_header.title, class: 'text-uppercase', icon: tile_header.icon
