%div{ tile_header.html_options.merge!(id: ("tile_header_for_#{tile_header.id}" if tile_header.collapsible?)) }
  - if tile_header.collapsible?
    %a{ tile_header.collapsible_toggle_html_options }
      .row.align-items-center
        .col-10
          = ui.nfg :typeface, title: tile_header.title, icon: tile_header.icon

        .col-2.text-right
          = ui.nfg :icon, 'caret-down fw', tooltip: 'Show / hide additional information'
  - else
    = ui.nfg :typeface, title: tile_header.title, icon: tile_header.icon
