.avatar {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: ($spacer * 1.25);
  height: ($spacer * 1.25);
  color: $body-color;
  background-color: $border-color;
  border-radius: 50%;

  // Images within avatars
  img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }

  // Text (initials) within avatars
  .avatar-text {
    font-weight: $font-weight-bold;
    font-size: $font-size-base;
    line-height: 1.2;
    color: inherit;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
  }

  // Sizes
  &.avatar-sm {
    width: $spacer;
    height: $spacer;
    .avatar-text { font-size: $font-size-sm; }
  }
  &.avatar-lg {
    width: ($spacer * 3);
    height: ($spacer * 3);
    .avatar-text { font-size: $h3-font-size; }
  }
  &.avatar-xl {
    width: ($spacer * 4.5);
    height: ($spacer * 4.5);
    .avatar-text { font-size: $h1-font-size; }
  }
}

// Avatar as a link
a.avatar {
  color: inherit !important;
  opacity: 1;
  transition: $transition-fade;
  &:hover, &:active { opacity: $btn-disabled-opacity; }
}
