.overlay-white {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 30;
  font-family: $font-family-base;
  letter-spacing: 0;
  word-spacing: 0;
  background-color: transparentize($white, 0.2);
}
.overlay-blur {
  transition: $transition-base;
  filter: blur(0);
  &.in { filter: blur(4px); }
}
