// Redactor styles
.redactor-in-page {
  .redactor-editor, .redactor-box, .redactor-box textarea { z-index: 0 !important; }
}
.redactor-box {
  margin-bottom: 0 !important;
  border: $border-width solid $border-color;
}
.redactor-toolbar {
  background-color: $body-bg;
  box-shadow: none;
  border-bottom: $border-width solid $border-color;
  a { color: inherit !important; }
}
.redactor-editor, .redactor-box, .redactor-box textarea { z-index: auto; }
.redactor-box .redactor-toolbar { z-index: $zindex-dropdown - 10 !important; }
#redactor-modal-close {
  border: none;
  background: none;
}

body.modal-open  {
  .redactor-toolbar { z-index: $zindex-modal-backdrop - 1 !important; }
  .modal .redactor-toolbar { z-index: $zindex-modal + 1 !important; }
}
.redactor-dropdown {
  // z-index was upped from 999 to 1 more than the modal...
  // in response to: https://jira.networkforgood.org/browse/PSTWO-9974
  z-index: $zindex-modal + 1 !important;
}
