// Redactor styles
.redactor-in-page {
  .redactor-editor, .redactor-box, .redactor-box textarea { z-index: 0 !important; }
}
.redactor-box {
  margin-bottom: 0 !important;
  min-height: ($spacer * 5);
  border: $border-width solid $border-color;
}
.redactor-toolbar {
  position: relative;
  background-color: $white;
  box-shadow: none;
  border-bottom: $border-width solid $border-color;
  &.redactor-toolbar-external {
    border-color: $border-color;
    border-radius: $border-radius;
    box-shadow: $box-shadow-sm;
    &:after, &:before {
      display: block;
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-top-color: $white;
      border-width: 6px;
      margin-left: -6px;
    }
    &:before {
      border-color: rgba(243, 246, 248, 0);
      border-top-color: $border-color;
      border-width: 7px;
      margin-left: -7px;
    }
  }
  li a {
    color: $body-color !important;
    &.re-icon {
      .body-text { font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif !important; }
    }
    &:hover, &:focus, &:active {
      color: $white !important;
      background-color: $primary;
    }
  }
}
.redactor-editor, .redactor-box, .redactor-box textarea { z-index: auto; }
.redactor-editor {
  min-height: ($spacer * 5);
  border: none;
}
.redactor-box .redactor-toolbar { z-index: $zindex-dropdown - 10 !important; }
#redactor-modal-close {
  border: none;
  background: none;
}

body.modal-open  {
  .redactor-toolbar { z-index: $zindex-modal-backdrop - 1 !important; }
  .modal .redactor-toolbar { z-index: $zindex-modal + 1 !important; }
}
.redactor-dropdown {
  // z-index was upped from 999 to 1 more than the modal...
  // in response to: https://jira.networkforgood.org/browse/PSTWO-9974
  z-index: $zindex-modal + 1 !important;
  a[class^="redactor-dropdown-"] {
    color: $body-color;
    &:hover, &:focus, &:active {
      color: $white;
      background-color: $primary;
    }
  }
}
