// Helper colors used for social media links, text, and backgrounds

$facebook:      #3b5998 !default;
$twitter:       #1da1f2 !default;
$linkedin:      #0077b5 !default;
$google-plus:   #dd4b39 !default;
$pinterest:     #bd081c !default;

$social-media-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$social-media-colors: map-merge(
  (
    "facebook":     $facebook,
    "twitter":      $twitter,
    "linkedin":     $linkedin,
    "google-plus":  $google-plus,
    "pinterest":    $pinterest
  ),
  $social-media-colors
);


// Buttons
@each $social-media, $value in $social-media-colors {
  .btn-#{$social-media} {
    color: $white !important;
    @include button-variant($value, $value);
  }
}

@each $social-media, $value in $social-media-colors {
  .btn-outline-#{$social-media} {
    @include button-outline-variant($value);
  }
}


// Text
@each $social-media, $value in $social-media-colors {
  @include text-emphasis-variant(".text-#{$social-media}", $value);
}


// Backgrounds
@each $social-media, $value in $social-media-colors {
  @include bg-variant(".bg-#{$social-media}", $value);
}
