-#
  %b.text-danger
    Style:
    = progress_bar.style.inspect
  %br
  %b.text-success
    Options:
    = progress_bar.options.inspect
  %br
  %b.text-primary
    Html options
    = progress_bar.html_options.inspect

= render 'nfg_ui/bootstrap/progresses/progress_bar', progress_bar: progress_bar
