// Custom type color
.alert {
  color: $body-color;
  a:not(.btn) {
    text-decoration: underline;
    &:hover, &:active { text-decoration: none; }
  }
}
.alert-success a:not(.btn) { color: $success; }
.alert-info a:not(.btn) { color: $info; }
.alert-warning a:not(.btn) { color: $warning; }
.alert-danger, .alert-error {
  a:not(.btn) { color: $danger; }
}
.alert-gray, .alert-notice,
.alert-light, .alert-dark {
  a:not(.btn) { color: inherit; }
}
