.badge {
  color: $body-color;
  border: $border-width solid transparent;
}


// Colors
//
// Contextual variations (linked badges get darker on :hover).
@each $color, $value in $theme-colors {
  .badge-#{$color} {
    background: scale-color($value, $lightness: 80%);
    border-color: $value;
  }
}
