// Custom secondary button usage
.btn-outline-secondary {
  color: $primary;
  background-color: $white;
  border-color: $border-color;
  @include hover {
    color: $body-color !important;
    background-color: $body-bg;
  }
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: $body-color !important;
    background-color: $body-bg;
  }
}
.btn-link { font-weight: $btn-font-weight; }
