//
// Base styles
//
// .card[href] { box-shadow: none; }
.card-title { margin-bottom: ($card-spacer-y * .5); }

.card-subtitle { margin-top: 0; }


//
// Optional textual caps
//
.card-footer { border-top: none; }

// Card image
.card-img-overlay {
  top: auto; // makes the overlay gradient and container "stick" to bottom of parent container
  min-height: ($spacer * 2);
  @include gradient-y(transparentize($black, 1), transparentize($black, .5));
}

.card-img { @include border-radius(0); }
