.dropdown-toggle::after { content: none; }


// The dropdown menu
.dropdown-menu { padding: $dropdown-padding-y $dropdown-padding-x; }


// Links, buttons, and more within the dropdown menu
.dropdown-item {
  border-radius: $dropdown-inner-border-radius;
  &.disabled, &:disabled {
    color: $dropdown-link-disabled-color !important;
    background-color: $input-disabled-bg;
    cursor: default;
    pointer-events: none;
  }
  &:not(.text-danger):not(.disabled) { color: inherit !important; }
}

// Dropdown section headers
.dropdown-header {
  padding-top: ($spacer * .25);
  padding-bottom: ($spacer * .25);
  font-size: $font-size-base;
}


// Sizing
.dropdown-menu-md, .dropdown-menu-lg { min-width: ($spacer * 8); }
.dropdown-menu-md {
  @include media-breakpoint-up(sm) { min-width: ($spacer * 10); }
}
.dropdown-menu-lg {
  @include media-breakpoint-up(sm) { min-width: ($spacer * 20); }
}


// Styles for wider "My Tools" dropdown in top nav
#my_tools_dropdown {
  @include media-breakpoint-down(sm) { max-width: 100vw; }
  .media {
    div {
      &:first-child { width: 60px; }
      &:last-child { width: 38px; }
    }
    .media-body { width: 240px; }
  }
}
