.input-group {

  // Used in auctions...adds support for div's with this class to be styled the same as input elements in order to prevent it visually breaking when an error occurs on a form with input-groups.
  > .field_with_errors {
    flex: 1 1 auto;
    width: 1%;
    min-width: 0; // https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size
  }
}
