//
// Tabs
//
.nav-tabs {
  border-width: $border-width;
  .nav-item {
    margin-bottom: -$border-width;
    font-weight: $font-weight-bold;
    font-size: $font-size-base;
  }
  .nav-link {
    position: relative;
    color: $text-muted !important;
    border: none;
    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: $nav-tabs-border-width;
      border-radius: ($nav-tabs-border-width / 2);
      background: transparent;
      transition: $btn-transition;
      content: '';
    }
    @include hover-focus {
      color: $nav-tabs-link-active-color !important;
      &:after { background: $nav-tabs-link-hover-border-color; }
    }
  }
  .nav-link.active,
  .nav-item.show .nav-link {
    color: $nav-tabs-link-active-color !important;
    &:after { background: $nav-tabs-link-hover-border-color; }
  }
}
