// stylelint-disable declaration-no-important, selector-no-qualifying-type

// Source: https://github.com/h5bp/main.css/blob/master/src/_print.css

// ==========================================================================
// Print styles.
// Inlined to avoid the additional HTTP request:
// https://www.phpied.com/delay-loading-your-print-css/
// ==========================================================================

@if $enable-print-styles {
  @media print {
    * { background: transparent !important; color: black !important; filter: none !important; -ms-filter: none !important; }

    a[href]:after { content: " (" attr(href) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  // Don't show links for images, or javascript/internal links

    ul, ol, img { page-break-inside: avoid; }
  }
}

.page-break {
  margin-top: ($spacer * 4);
  margin-bottom: ($spacer * 4);
  @media print { page-break-after: always; }
}
