//
// Headings
//
// h1, .h1 { line-height: 1.2; } // commented out because it uses $headings-line-height
h2, .h2 { line-height: 1.25; }
h3, .h3 { line-height: 1.143; }
h4, .h4 { line-height: 1.333; }
// h5, .h5 { line-height: 1.2; } // commented out because it uses $headings-line-height
h6, .h6 { line-height: 1.5; }

// Type display classes
.display-1 { line-height: 1.1667; }
// .display-2 { line-height: 1.2; } // commented out because it uses $display-line-height
.display-3 { line-height: 1.125; }
.display-4 {
  line-height: 1.5;
  color: $text-muted;
  text-transform: uppercase;
  letter-spacing: .5px;
}

// Adjust heading sizes on smaller devices
@include media-breakpoint-down(md) {
  h1, .h1, h2, .h2, h3, .h3 {
    font-size: $h4-font-size;
    line-height: 1.333;
  }
}

//
// Misc
//
.font-size-base { font-size: $font-size-base !important; }
.font-size-sm {
  font-size: $font-size-sm !important;
  line-height: 1.428;
}
.font-size-lg { font-size: $font-size-lg !important; }
.line-height-sm { line-height: $line-height-sm; }
.line-height { line-height: 1.5; }
.line-height-lg { line-height: $line-height-lg; }
.lead { line-height: 1.778; }

strong, .strong, b, .b { font-weight: $font-weight-bold; }

a.no-link-color {
  &, &:visited { color: $body-color !important; }

  &:hover, &:active, &:focus {
    color: theme-color("primary") !important;
    text-decoration: none;
  }
}

// style to support underlined links that are by default no text decoration
.text-decoration-underline { text-decoration: underline; }


// Contextual colors
@each $color, $value in $colors {
  @include text-emphasis-variant(".text-#{$color}", $value);
}

// Adds a background divider to word
.text-divider {
  position: relative;
  &:after {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    border-top: $border-width solid $border-color;
    content: '';
    z-index: 0;
  }
  [class*='text-'], .btn-center { z-index: 10; }
  [class*='text-'] {
    position: relative;
    text-align: center;
    line-height: 1;
    span {
      display: inline-block;
      padding: ($spacer * .25) ($spacer * .5);
      background-color: $white;
    }
  }
  .btn-center {
    position: absolute;
    top: -18px;
    left: 50%;
    .btn {
      position: relative;
      left: -50%;
    }
  }
}
