// Styles specific for content section links
.cs-edit, .cs-rm-group, .cs-add-group {
  padding: 0.5rem 0.8rem !important;
  font-weight: $bold-font-weight;
  font-size: 14px !important;
  line-height: 1;
}

// Override white text
.redactor-box .text-white { color: $global-font-color !important; }
