// Extra layout styles
.wrapper {
  &.strict { // Strict mode: Wrap with zero impact on nested components
    width: 100% !important;
    padding: 0 !important;
    .wrapper-inner {
      width: 100% !important;
      padding: 0 !important;
    }
  }
}


// Table with borders separating rows
.border-item {
  td.columns,
  td.column,
  th.columns,
  th.column {
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: $border-width solid $border-color;
  }
}


// Specific footer styles
.footer {
  p { color: $secondary-color; }
  a { color: $secondary-color !important; }
}
