.text-primary { color: $primary-color; }
.text-success { color: $success-color; }
.text-warning { color: $warning-color; }
.text-alert { color: $alert-color; }
.text-white { color: $white; }
.text-muted { color: #8c8c8c; }
