- lots_of_data = false if local_assigns[:lots_of_data].nil?


%thead
  %tr
    %th Title
    %th Title
    %th Title
    %th Title
    - if lots_of_data
      %th Title
      %th Title
      %th Title
      %th Title
      %th Title
      %th Title
      %th Title
      %th Title
      %th Title
      %th Title
      %th Title
%tbody
  %tr
    %td This is information
    %td This is information
    %td This is information
    %td This is information
    - if lots_of_data
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
  %tr
    %td This is information
    %td This is information
    %td This is information
    %td This is information
    - if lots_of_data
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
  %tr
    %td This is information
    %td This is information
    %td This is information
    %td This is information
    - if lots_of_data
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information

  - if lots_of_data
    %tr
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information