%h1 Tables

= ui.nfg :typeface, :muted, caption: '<< New: scroll left and right to see all data >>', class: 'mb-1 text-right'

= ui.nfg :table, responsive: true, class: 'table-striped table-bordered table-sm' do
  %thead
    %tr
      %th Title
      %th Title
      %th Title
      %th Title
      %th Title
      %th Title
      %th Title
      %th Title
      %th Title
      %th Title
      %th Title
      %th Title
      %th Title
      %th Title
      %th Title
      %th Title
      %th Title
      %th Title
  %tbody
    %tr
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information
      %td This is information


-# RESPONSIVE TABLE
= ui.nfg :typeface, :muted, caption: '<< scroll left and right to see all data >>', class: 'mb-1 text-right'
.table-responsive
  = ui.nfg :table, class: 'table-striped table-bordered table-sm' do
    %thead
      %tr
        %th Title
        %th Title
        %th Title
        %th Title
        %th Title
        %th Title
        %th Title
        %th Title
        %th Title
        %th Title
        %th Title
        %th Title
        %th Title
        %th Title
        %th Title
        %th Title
        %th Title
        %th Title
    %tbody
      %tr
        %td This is information
        %td This is information
        %td This is information
        %td This is information
        %td This is information
        %td This is information
        %td This is information
        %td This is information
        %td This is information
        %td This is information
        %td This is information
        %td This is information
        %td This is information
        %td This is information
        %td This is information
        %td This is information
        %td This is information
        %td This is information
