%h1 Breadcrumbs

= nfg_ui :breadcrumb, class: 'example-class' do
  = nfg_ui :breadcrumb_item, body: 'Home', class: 'example-class'
  = nfg_ui :breadcrumb_item, body: 'Second Tier', class: 'example-class'
  
  -# Block example
  = nfg_ui :breadcrumb_item, active: true, class: 'example-class' do
    Active Page


