// Specific styles for entity branding

.btn-primary {
  color: yiq-contrast-color($primary, $yiq-text-dark, $yiq-text-light);
  background-color: $primary;
  border-color: $primary;
  &:hover {
    color: yiq-contrast-color(darken($primary, 10%), $yiq-text-dark, $yiq-text-light);
    background-color: darken($primary, 10%);
    border-color: darken($primary, 10%);
  }
  &.disabled,
  &:disabled,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: yiq-contrast-color($primary, $yiq-text-dark, $yiq-text-light);
    background-color: $primary;
    border-color: $primary;
  }
}

.btn-outline-secondary {
  color: yiq-contrast-color($primary, $yiq-text-dark, $primary);
  &:hover { color: yiq-contrast-color($primary, $yiq-text-dark, $primary); }
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle { color: yiq-contrast-color($primary, $yiq-text-dark, $primary); }
}

.btn-link {
  color: yiq-contrast-color($primary, $yiq-text-dark, $primary);
  &:hover { color: yiq-contrast-color(darken($primary, 15%), $yiq-text-dark, darken($primary, 15%)); }
}

.bg-dark {
  .btn-primary {
    h1, h2, h3, h4, h5, h6, p, label { color: yiq-contrast-color($primary, $yiq-text-dark, $yiq-text-light); }
  }
  .btn-outline-secondary {
    h1, h2, h3, h4, h5, h6, p, label { color: yiq-contrast-color($primary, $yiq-text-dark, $primary); }
  }
}
