// Specific styles for entity branding

.custom-control {
  .custom-control-input {
    &:checked {
      ~ .custom-control-label, ~ .custom-control-label::before { border-color: $primary; }
      ~ .custom-control-label::before { background-color: $primary; }
    }
    &:not(:disabled):active ~ .custom-control-label::before {
      background-color: lighten($primary, 35%);
      border-color: lighten($primary, 35%);
    }
  }
}

.custom-select {
  color: yiq-contrast-color($primary, $yiq-text-dark, $primary);
  background-image: $custom-select-indicator;
  &:focus {
    border-color: $primary;
    &::-ms-value { color: $primary; }
  }
}

.custom-file-input {
  &:focus ~ .custom-file-label {
    border-color: $primary;
    &::after { border-color: $primary; }
  }
}

.custom-switch {
  .custom-control-input:checked ~ .custom-control-label {
    &::after { border-color: $primary; }
    &::before {
      background-color: $primary;
      border-color: $primary;
    }
  }
}


// Styles needed to override :valid success styles provided by bootstrap... this is for server side forms only
.custom-control-input {
  .was-validated &:valid {
    &:checked {
      ~ .custom-control-label::before { background-color: $primary; }
    }
  }
}
