// Specific styles for entity branding

.custom-control {
  .custom-control-input:checked {
    ~ .custom-control-label, ~ .custom-control-label::before { border-color: $primary; }
    ~ .custom-control-label::before { background-color: $primary; }
  }
}

.custom-select {
  color: yiq-contrast-color($primary, $yiq-text-dark, $primary);
  background-image: $custom-select-indicator;
  &:focus {
    border-color: $primary;
    &::-ms-value { color: $primary; }
  }
}

.custom-control-toggle {
  .custom-control-input:checked {
    ~ .custom-control-label {
      &::before { background-color: $primary; }
      &::after { border-color: $primary; }
    }
  }
}


// Styles needed to override :valid success styles provided by bootstrap... this is for server side forms only
.custom-control-input {
  .was-validated &:valid {
    &:checked {
      ~ .custom-control-label::before { background-color: $primary; }
    }
  }
}
