// Specific styles for entity branding

.progress-bar.bg-primary {
  background-color: color-yiq($primary, $yiq-text-dark, $primary) !important;
}

// Background specific bg-colors to help with extreme colors like #fff and #000
.bg-dark {
  .progress-bar.bg-primary {
    background-color: color-yiq($primary, $primary, $yiq-text-light) !important;
  }
}
.bg-light {
  .progress-bar.bg-primary {
    background-color: color-yiq($primary, $yiq-text-dark, $primary) !important;
  }
}
