- if collapse.heading
  = ui.nfg :button, :link, collapse: "##{collapse.id}", body: collapse.heading, icon: 'caret-down', class: 'p-0 text-left'

= render 'nfg_ui/bootstrap/collapse', collapse: collapse
