// Styles specific to the everyday default style
.event {
  .jumbotron {
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
      background-color: transparentize($black, 0.7);
      content: '';
    }
    @include media-breakpoint-down(md) {
      background-image: none !important;
      &:before { display: none; }
      .card { box-shadow: none; }
      .card-body { padding: 0; }
    }
  }
}
