// Styles specific for the new user navbar on everyday_story and everyday_classic_style layouts

$navbar-logo-height: (($spacer * 4.5) - $spacer);

.navbar-brand {
  margin-right: 0;
  padding: ($spacer * .5) 0;
  max-width: ($spacer * 8);
  height: $navbar-logo-height;
  white-space: normal !important;
  @include media-breakpoint-up(lg) { max-width: ($spacer * 12); }
  img {
    max-width: ($spacer * 8);
    max-height: $navbar-logo-height;
    @include media-breakpoint-up(lg) { max-width: ($spacer * 12); }
  }
}
.navbar-text {
  margin-left: $navbar-padding-x;
  padding-left: $navbar-padding-x;
  border-left: $border-width solid $border-color;
}
.sticky-div {
  border-bottom: $border-width solid $border-color;
  .btn-header-donate {
    opacity: 0;
    transition: $transition-base;
  }
  &.stuck {
    .btn-header-donate { opacity: 1; }
  }
}
