// Vertical navigations with left indicator used in donor profile area
.nav {
  &.flex-column {
    .nav-link {
      position: relative;
      color: $text-muted;
      border-left: 4px solid transparent;
      &.active {
        color: $nav-tabs-link-active-color !important;
        border-color: $nav-tabs-link-hover-border-color;
      }
      @include hover-focus { color: $nav-tabs-link-active-color !important; }
    }
  }
}
