//
// Tabs
//
.nav-tabs {
  border-bottom: none;

  .nav-item { margin-bottom: 0; }

  .nav-link {
    position: relative;
    color: $text-muted;
    border: none;
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: $nav-tabs-border-width;
      border-radius: ($nav-tabs-border-width / 2);
      transition: $transition-base;
      content: '';
    }
    @include hover-focus {
      color: $nav-tabs-link-active-color;
      &::after { background: $nav-tabs-link-hover-border-color; }
    }
  }
}
