html { font-size: 62.5%; }
body {
  -ms-overflow-style: scrollbar !important;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
          font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: $font-size-base;
  @include media-breakpoint-down(md) {
    overflow-x: hidden;
    -webkit-overflow-scrolling: auto;
  }
}

div { position: relative; } // setting this as a base to avoid improper absolute positioning elements

ol,
ul,
dl {
  margin-bottom: $paragraph-margin-bottom;
}

img { max-width: 100%; }
