%div{ progress.html_options }
  - if progress.body
    = progress.body
  - else
    = ui.bootstrap :progress_bar, theme: progress.theme, label: progress.label, progress: progress.progress, striped: progress.striped, animated: progress.animated
    
